<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getContentEditorWarnings>
        <processor type="LjungbergIt.Xtm.Connector.MetaData.Pipelines.GetContentEditorWarnings.InTranslation, LjungbergIt.Xtm.Connector" />
        <processor type="LjungbergIt.Xtm.Connector.MetaData.Pipelines.GetContentEditorWarnings.VersionTranslated, LjungbergIt.Xtm.Connector" />
      </getContentEditorWarnings>
    </pipelines>
  </sitecore>
</configuration>
