<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <XtmConnectorPipeline>
        <processor type="LjungbergIt.Xtm.Connector.Pipelines.XtmProcessor, LjungbergIt.Xtm.Connector" method="ChooseMasterLanguage" />
        <!--<processor type="PipelineTest.TestProcessor, PipelineTest" method="RenameItem" />
        <processor type="PipelineTest.TestProcessor, PipelineTest" method="AddChild" />-->
      </XtmConnectorPipeline>
    </processors>
    <commands>
      <command name="ljungbergit:starttranslation" type="LjungbergIt.Xtm.Connector.Buttons.StartTranslation,LjungbergIt.Xtm.Connector"/>
    </commands>
  </sitecore>
</configuration>