<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <XtmConnectorPipeline>
        <processor type="LjungbergIt.Xtm.Connector.Pipelines.XtmProcessor, LjungbergIt.Xtm.Connector" method="AddItemForTranslation" />
      </XtmConnectorPipeline>
      <XtmConnectorPipelineTranslationProgress>
        <processor type="LjungbergIt.Xtm.Connector.Pipelines.XtmProcessor, LjungbergIt.Xtm.Connector" method="ViewTranslationProgress" />
      </XtmConnectorPipelineTranslationProgress>
    </processors>
    <commands>
      <command name="ljungbergit:AddItemForTranslation" type="LjungbergIt.Xtm.Connector.Buttons.AddItemForTranslation, LjungbergIt.Xtm.Connector"/>
      <command name="ljungbergit:ViewTranslationProgress" type="LjungbergIt.Xtm.Connector.Buttons.ViewTranslationProgress, LjungbergIt.Xtm.Connector"/>
      <command name="ljungbergit:StartTranslation" type="LjungbergIt.Xtm.Connector.Buttons.StartTranslation, LjungbergIt.Xtm.Connector"/>
      <command name="ljungbergit:GetXtmTemplates" type="LjungbergIt.Xtm.Connector.Buttons.GetXtmTemplates, LjungbergIt.Xtm.Connector"/>
      <command name="test:TestSecurity" type="Test.Buttons.TestSecurity, LjungbergIt.Xtm.Connector"/>
    </commands>
  </sitecore>
</configuration>