<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XTMWebServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wstest2.xtm-intl.com/project-manager-gui/services/v2/projectmanager/XTMWebService"
                binding="basicHttpBinding" bindingConfiguration="XTMWebServiceSoapBinding"
                contract="XtmServiceReference.ProjectManagerMTOMWebService"
                name="XTMProjectManagerMTOMWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>